#allDiv{
    width: 100%;
    background-color: rgb(236, 251, 255);
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    align-items:center;
    font-family:微软雅黑;
}

#navDiv{
    height:65px;
    width: 100%;
    background-color: rgb(255, 255, 255);   
     background-size:cover;
    background-position: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0px; 

}
.header{
    width: 95%;
    font-family:微软雅黑;
    color:#000000;
    font-size:2ex;
    /* background-color: #99CCFF; */
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    justify-items: center;
}
.bt{
    height: 65px;
    width: 60%;
    /* background: chocolate; */
    /* background-image: url("../imgs/backg.jpeg");
    background-size:cover;
    background-position: center; */
    padding-top: 20px;
}
.ll{
    height: 65px;
    width: 20%;
    /* background: chocolate; */
    display: flex;
    justify-content: space-around;
}
.ss{
    height: 30px;
    width: 30px;
    background-image: url("../imgs/ss.png");
    background-size:cover;
    background-position: center;
    margin-top:20px;
}
#fileImage{
    height: 150px;
    width: 100px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}
.sc{
    height: 30px;
    width: 30px;
    background-image: url("../imgs/sc.png");
    background-size:cover;
    background-position: center;
    margin-top:20px;
}
.bz{
    height: 30px;
    width: 30px;
    background-image: url("../imgs/bz.png");
    background-size:cover;
    background-position: center;
    margin-top:20px;
}
.fx{
    height: 30px;
    width: 30px;
    background-image: url("../imgs/fx.png");
    background-size:cover;
    background-position: center;
    margin-top:20px;
}
#mainDiv{
    width: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction:column;
    align-items:center; 
    margin-top:5px;
}

.showDiv{
    height: 1000px;
    width: 90%;
    /* background-color: rgb(26, 164, 245); */
}
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:14px;
    color:#333333;
    width: 100%;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    text-align:center;
    }
    table.gridtable th {

    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
    }
    table.gridtable td {

    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    }
#footer{
    height: 100px;
    width: 90%;
    background-color: #ffffff;
 }
 #footer p{
     font-size: 14px;
     color: #2E4446;
     text-align:center;
     line-height: 1.79;
  }
