
#allDiv{
    width: 100%;
    background-color: rgb(236, 251, 255);
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    align-items:center;
    font-family:微软雅黑;
}
#banner{
    height:85ex;
    width: 85%;
    background-size:cover;
    background-position: center;
    background-color: #ffffff;
}
.header{
    width: 85%;
    font-family:微软雅黑;
    color:#000000;
    font-size:2ex;
    background-color: #ffffff;
    margin: 5px auto;
    display: flex;
    flex-direction:row;
    justify-content:space-between;

}
.ms{
    height: 100px;
    width: 85%;
    margin: 0 auto;
}
.sc{
    height: 400px;
    width: 85%;
    background-color: rgb(255, 255, 255);
    border:2px solid rgb(155, 198, 255);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sc1{
    height: 50%;
    width: 24%;
    /* background-color: rgb(17, 31, 156); */

}
.sc2{
    height: 50%;
    width: 24%;
    /* background-color: rgb(17, 156, 29); */

}
.sc3{
    height: 50%;
    width: 24%;
    /* background-color: rgb(126, 156, 17); */

}
.sc4{
    height: 50%;
    width: 24%;
    /* background-color: rgb(107, 44, 60); */

}
.btn{
    width: 100%;
    text-align:center;
    /* background-color:rgb(255, 255, 255); */
    padding-bottom:20px ;
}
.button {
    background: #efe2f6;
    background-image: -webkit-linear-gradient(top, #efe2f6, #7ad7e1);
    background-image: -moz-linear-gradient(top, #efe2f6, #7ad7e1);
    background-image: -ms-linear-gradient(top, #efe2f6, #7ad7e1);
    background-image: -o-linear-gradient(top, #efe2f6, #7ad7e1);
    background-image: linear-gradient(to bottom, #efe2f6, #7ad7e1);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    text-shadow: 1px 1px 10px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 40px 10px 40px;
    border: solid #fbfbfb 1px;
    text-decoration: none;
  }
  
  .button:hover {
    background: #ec93ed;
    background-image: -webkit-linear-gradient(top, #ec93ed, #7baae2);
    background-image: -moz-linear-gradient(top, #ec93ed, #7baae2);
    background-image: -ms-linear-gradient(top, #ec93ed, #7baae2);
    background-image: -o-linear-gradient(top, #ec93ed, #7baae2);
    background-image: linear-gradient(to bottom, #ec93ed, #7baae2);
    color: #ffffff;
    text-decoration: none;
  }
#footer{
    height: 100px;
    width: 90%;
    background-color: #ffffff;
 }
 #footer p{
     font-size: 14px;
     color: #2E4446;
     text-align:center;
     line-height: 1.79;
  }
