body{
    background-color:  rgb(255, 255, 255);
}
.onepage{
    width: 85%;
    /* height: 800px; */
    background: white;
    margin: 0 auto;
}
/* .row>div{
    border: 1px solid red;
} */
.header{
    height: 50px;
    margin-top: 8px;
}
.logo{
    height: 40px;
    width: 200px;
    background: violet;
    float: left;
    margin-top: 5px;
}
.menu{
    float:right;

}
/* 导航样式 */
.nav {
    display: -ms-flexbox;
    display: flex;
    justify-content:flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 5px;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.courseInfo{
    font-size: 28px;
    line-height: 1;
    text-align: center;
    color: #2E4446;
    margin: 18px 0px;
}
.underLine{
    width: 100px;
    height: 5px;
    border-bottom:4px solid rgb(58, 151, 250);
    border-radius: 20px;
    margin: 0 auto;
}
.basicInfo{
    height: 400px;
    width: 100%;
    position: relative;
    display: inline-block;
    border-radius: 16px;
    border:1px solid rgb(58, 151, 250);
    border-radius: 20px;
}
.dsc>p{
    font-size: 20px;
    color: #2E4446;
    line-height: 32px;
    margin: 10px 0px;
}
.dsc>span{
    font-size: 18px;
    color: #ffffff;
    line-height: 18px;
    margin-left: 8px;
}
.courseInfo1{
    font-size: 28px;
    line-height: 1;
    text-align: center;
    color: #2E4446;
    margin: 18px 0px;
}
.underLine1{
    width: 100px;
    height: 5px;
    border-bottom:4px solid rgb(213, 68, 246);
    border-radius: 20px;
    margin: 0 auto;
}
.twopage{
    height: 400px;
    width: 100%;
    position: relative;
    display: inline-block;
    border-radius: 16px;
    border:1px solid rgb(213, 68, 246);
    border-radius: 20px;
    padding: 10px;
}
